<h2>Solicitar cita</h2>
<%= form_tag create_meet_path do %>
    <div class="field">
      <%= label_tag 'Nombre' %> <br>
      <%= text_field_tag :name, nil, class: 'form-control' %>
    </div>
    <div class="field">
      <%= label_tag 'Fecha de cita'%> <br>
      <%= text_field_tag :meeting, nil, class: 'form-control', placeholder: 'dd/mm/aaaa' %>
    </div>
    <div class="field">
      <%= label_tag 'Asunto' %> <br>
      <%= text_area_tag :subject, nil, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= submit_tag "Solicitar", class: 'btn btn-default' %>
    </div>
<% end %>