<%= form_for(@meet) do |f| %>
  <% if @meet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@meet.errors.count, "error") %> prohibited this meet from being saved:</h2>

      <ul>
      <% @meet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Nombre' %><br>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label 'Cita' %><br>
    <%= f.date_select :meeting, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label 'Proposito' %><br>
    <%= f.text_area :subject, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label 'Estado' %><br>
    <%= f.check_box :status, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-default' %>
  </div>
<% end %>
