<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Titulo' %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label 'Contenido' %><br>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label 'Publicado' %><br>
    <%= f.check_box :status, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label 'Direccion' %><br>
    <%= f.text_field :url, class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label 'Categoria' %><br>
    <%= f.select :category_id, list_categories.collect {|c| [c.name, c.id]}%>
  </div>

  <%= f.hidden_field :user_id, value: current_user.id%>

  <div class="actions">
    <%= f.submit "Guardar", class:  'btn btn-default' %>
  </div>
<% end %>
